@tailwind base;
@layer base {
    :root {
    }
    body {
        @apply text-[14px] text-neutral_1 relative;
    }
    * {
        @apply !font-Montserrat;
    }
}

a:hover {
    color: unset;
}

::-webkit-scrollbar {
    width: 6px;
    height: 3px;
    background-color: #fff;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 14px 14px #fff;
    border: solid 4px #fff;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 14px 14px #ccc;
    border: solid 4px #ccc;
}
