.ant-table-wrapper .ant-table {
    background: transparent;
}
.ant-table-wrapper .ant-table-cell {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 15px !important;
    color: #fff !important;
    padding: 10px 16px !important;
    padding-left: 30px !important;
    border: none !important;
    background: transparent !important ;
    border-bottom: 1px solid #181f38 !important;
}

.ant-table-wrapper thead .ant-table-cell {
    padding: 20px 30px !important;
}

.ant-table-wrapper tbody .ant-table-row:hover .ant-table-cell {
    background: #252c47 !important;
}

.ant-table-wrapper
    .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before,
.ant-table-wrapper
    .ant-table-thead
    > tr
    > td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    display: none;
}

.ant-table-wrapper .ant-table-column-sorters {
    display: flex !important;
    justify-content: flex-start !important;
}
.ant-table-wrapper .ant-table-column-sorter {
    color: white !important;
    margin-left: 10px !important;
}

.ant-table-wrapper .ant-table-column-title {
    flex: none;
}

.ant-table-wrapper .ant-table-ping-right:not(.ant-table-has-fix-right) .ant-table-container::after {
    box-shadow: none;
}

.ant-table-wrapper .ant-table-ping-right:not(.ant-table-has-fix-right) .ant-table-container::before {
    box-shadow: none;
}

.ant-table-wrapper .ant-table-tbody > tr.ant-table-placeholder:hover > th,
.ant-table-wrapper .ant-table-tbody > tr.ant-table-placeholder:hover > td,
.ant-table-wrapper .ant-table-tbody > tr.ant-table-placeholder {
    background: transparent;
}

.ant-empty .ant-empty-description {
    color: #aaaaaa !important;
    font-size: 16px !important;
}
